.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.full_screen{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #282c34
}
.top{
  width: 100%;
  height: 5%;
  color: white;
  background-color: #282c34;
  padding-bottom:10px;
}
.body{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.bottom{
  width: 100%;
  height: 5%;
  background-color: brown
}
.body_left{
  width: 60%;
  height: 100%;
}
.body_right{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.book_img{
  width: 80%;
  height: 60%;
  margin-top: 10%;
  border-radius: 12px;
}
.body_right_top{
  height: 40%;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  border-radius: 12px;
  background-color: aliceblue;
}
.body_right_bottom{
  height: 50%;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  border-radius: 12px;
  background-color: aliceblue;
}
.curved_view{
  display: flex;
  flex-direction: column;
}
.input_with_rounded{
  border-radius: 12px;
  width: 60%;
  height: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button_with_rounded{
  border-radius: 12px;
  width: 30%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: azure;
  background-color: slateblue
}


.home_screen_top{
  width: 100%;
  height: 5%;
  color: white;
  padding-bottom:10px;
}
.home_screen_body{
  height: 85%;
  width: 100%;
  background-color: white;
  padding: 2% 15% ;
  overflow: auto;
}
.home_screen_bottom{
  height: 15%;
  width: 100%;
  background-color: white;
}

.listview{
  border-radius: 12px;
  background-color : chocolate;
  width: 70%;
  height: 40%;
  margin-top: 5%;
}
.listview_top{
  width: 100%;
  height: 10%;
  color: white;
  padding-bottom:10px;
  border-radius: 12px;
}
.listview_body{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}
.listview_body_left{
  border-radius: 12px;
  width: 30%;
  height: 100%;
}
.listview_body_right{
  width: 70%;
  height: 100%;
  border-radius: 12px;
}
.listview_body_left_img{
  width: 70%;
  height: 100%;
}
